.total {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  margin-top: 25%;

  h5, p {
    font-size: 16px;
  }

  h5 {
    font-weight: 600;
    color: #2bb2bb;
  }

  p {
    margin-left: 5px;
    letter-spacing: 0;
    font-weight: 400;
  }
}

@media only screen and (min-width: 750px) {
  .total {
    margin-top: 15%;
  }
}

@media only screen and (min-width: 1200px) {
  .total {
    margin-top: 10%;
  }
}

.all-posts-container {
  width: 80vw;
}

@media only screen and (min-width: 750px) {
  .all-posts-container {
    width: 80vw;
    margin: 0;
    display: flex;
    flex-direction: row;
  }
}

.all-posts {
  background-color: rgba(43,178,187, 0.1);
  width: 100%;
  min-height: 200px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-row-gap: 1em;
}

@media only screen and (min-width: 750px) {
  .all-posts {
    background-color: rgba(43,178,187, 0.1);
    width: 80%;
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-row-gap: 1em;
  }
}

@media only screen and (min-width: 1200px) {
  .all-posts {
    background-color: rgba(43,178,187, 0.1);
    width: 80%;
    min-height: 200px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-row-gap: 1em;
  } 
  }

.all-posts-filters {
  display: none;
}


@media only screen and (min-width: 750px) {
  .all-posts-filters {
    display: block;
    right: 10%;
    margin-top: -40px;
    margin-left: 20px;
    padding: 20px;
    width: 10%;
    height: 100vh;
    color: #5c6061;
    background-color: #f5f0f6;

    h4 {
      font-weight: 500;
      color: #2bb2bb;
      margin-bottom: 20px;
    }

    ul {
      font-weight: 300;
      list-style: none;

      li {
        margin: 5px 0;
        cursor: pointer;
      }
      
    }
}
}

.active {
  color: #2bb2bb;
  font-weight: 500;
}

.no-posts {
  margin: 20px;
}